#board {
    width: 900px;
    margin: 30px auto;
}

.card {
    float: left;
	height: 150px;
    width: 205px;
	margin: 10px;
	background-color: #CC1100;
}

.panel1 {
    background-color: #CC1100;
}

.panel2 {
    background-color: #00B2EE;
}

.panel3 {
	background-color: #7FFF00;
}

.panel {
    height: inherit;
    width: inherit;
    position: absolute;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    font-family: "Trebuchet MS", Verdana, Sans-serif, sans;
    line-height: 40px;
}